apiVersion: v1
kind: Service
metadata:
  name: {{ include "api-gateway.fullname" . }}
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  {{- if .Values.config.tls.enabled }}
  - port: {{ .Values.service.httpsPort }}
    targetPort: https
    protocol: TCP
    name: https
  {{- end }}
  selector:
    {{- include "api-gateway.selectorLabels" . | nindent 4 }}
